/* GLOBAL STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

html {
    font-size: 16px;
    border-collapse: collapse;
    background-color: #FAF8F3;
    color: #433633;
}

a, a:visited, a:hover {
    text-decoration: none;
    color: unset;
}

ul li {
    list-style-type: none;
}

img.icon-white {
    display: none;
}

img.icon-black {
    display: inline-block;
}

.sticky {
    position: sticky;
    top: 0;
}

@media screen and (min-width: 768px) and (max-width: 1600px) {
    html {
      font-size: 14px;
    }
}

@media screen and (max-width: 768px) and (orientation: portrait) {
    nav.navigation-menu {
        display: none;
    }
}

/* Promo */

promo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #433633;
    padding: .5rem;
}
promo h1 {
    font-size: .85rem;
    color: #FAF8F3;
    text-align: center;

}


/* Navigation */

#menu-toggle, label {
    display: none;
}

nav.navigation-menu {
    display: grid;
    grid-template-columns: 2fr 8fr 1fr 1fr;
    align-items: start;
    width: 100%;
    height: 4.5rem;
    border: 1px solid #433633;
    background-color: #FAF8F3;
}

.navigation-menu > .logo {
    display: flex;
    height: inherit;
    justify-content: center;
    align-items: center;
    border: inherit;
}

.logo > img {
    width: 11.875rem;
    height: 100%;
}

.navigation-menu > .main-navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: inherit;
    border: inherit;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.navigation-menu .icon {
    width: 1rem;
    height: 100%;
    align-self: center;
    justify-self: center;
}

.main-navigation a {
    align-self: center;
}

.navigation-menu > .main-navigation > img {
    padding-right: .5rem;
}

.main-navigation a {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1.5rem;
    gap: .5rem;
}

.navigation-menu > .login {
    border: inherit;
}

.navigation-menu > .login, .login > a, .login .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 900;
    gap: .5rem
}

.navigation-menu > .cart {
    border: inherit;
}

.navigation-menu > .cart, .cart > a, .cart .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 900;
    gap: .5rem
}

.login-cart {
    background-color: #FAF8F3;
    transition: background-color .2s ease;
}

.login-cart:hover {
    background-color: #433633;
    transition: background-color .2s ease;
}

.login-cart:hover a {
    color: #FAF8F3;
}

.login-cart:hover img.icon-white {
    display: inline-block;
}

.login-cart:hover img.icon-black {
    display: none;
}

@media screen and (min-width: 768px) and (max-width: 1600px) {

    .logo img {
        width: 9rem;
        height: 100%;
    }

    .navigation-menu > .login > a, .navigation-menu > .cart > a {
        display: none;
    }

    img.icon {
        width: 1.5rem;
        height: 100%;
    }

    .login .icon, .cart .icon {
        width: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    promo {
        height: 3vh;
    }

    promo > h1 {
        font-size: .65rem;
    }

    nav.navigation-menu {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
        /* grid-template-rows: 7vh 60vh 30vh; */
        grid-auto-rows: 7vh 60vh 30vh;
        height: 100%;
    }

    .navigation-menu > .logo {
        display: grid; 
        grid-column: 1 / span 7;
        justify-content: start;
        padding-left: 1rem;
    }

    label {
        cursor: pointer;
        display: flex;
        width: 100%;
        height: 100%;
        border: inherit;
        justify-content: center;
        align-items: center;
    }

    .navigation-menu > .main-navigation {
        display: grid;
        grid-column: 1 / span 8;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        gap: 0;
        justify-items: center;
        align-items: center;
    }

    .main-navigation > li {
        display: grid;
        width: 100%;
        height: inherit;
        box-sizing: content-box;
        border: inherit;
    }

    .navigation-menu > .login {
        display: grid;
        grid-column: 1 / span 4;
        justify-content: center;
        align-content: center;
    }

    .navigation-menu > .cart {
        display: grid;
        grid-column: 5 / span 4;
        justify-content: center;
        align-content: center;
    }

    .login .icon , .cart .icon {
        width: 2rem;
    } 

    #menu-toggle:checked ~ .main-navigation, #menu-toggle:checked ~ .login, #menu-toggle:checked ~ .cart {
        display: none;
    }

}

/* Main Banner */

.container {
    width: 100%;
    display: flex;
}

.text-container {
    width: 50%;
    height: 87vh;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem;
}

.intro h1 {
    font-size: 2.875rem;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.intro h2 {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 3rem;
    text-transform: uppercase;
    color: #48A9A6;
}

.description {
    max-width: 37.5rem;
    font-size: 1rem;
    line-height: 1.75rem;
}

#hero-img {
    display: inline-block;
    width: 50%;
    height: 87vh;
    align-items: flex-start;
    background-image: url(../img/hero-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        height: 60vh;
    }

    .text-container {
        height: 60vh;
    }

    #hero-img {
        height: 80vh;
    }
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column-reverse;
    }

    .text-container {
        width: 100%;
        height: 65vh;
    }

    #hero-img {
        width: 100%;
    }
}

/* Menu Items All */

#menu-items-all {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    width: inherit;
    flex-wrap: wrap;
}

.menu-item {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 25%;
    padding: 2.75rem;
    border: 0.063rem solid #433633;
    background-color: #FAF8F3;
    transition: background-color .2s ease;
}

.menu-item h1 {
    font-size: 1.313rem;
    text-transform: uppercase;
    transition: color .2s ease;
}

.menu-item img {
    width: 1.5rem;
    height: 100%;
    color: #433633;
}

.menu-item:hover {
    background-color: #433633;
    transition: background-color .2s ease;
}

.menu-item:hover h1 {
    color: #FAF8F3;
    transition: color .2s ease;
}

.menu-item:hover img.icon-white {
    display: inline-block;
}

.menu-item:hover img.icon-black {
    display: none;
}


@media screen and (max-width: 768px) and (orientation: portrait) {
    .menu-item {
        width: 100%;
        height: 5rem;
        padding: 1.75rem;
    }
}

/* Showcase */

#showcase {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-auto-rows: 1fr;
}

.item-holder {
    display: flex;
    flex-direction: column;
    height: 66vh;
    border: 1px solid #433633;
    background-color: #FAF8F3;
    color: #433633;
    transition: background-color .2s ease, color .2s ease;
}

.item-holder:hover {
    background-color: #433633;
    color: #FAF8F3;
    transition: background-color .2s ease, color .2s ease;
}

.item-holder img {
    padding: 1.5rem;
    transition: padding .2s ease;
}

.item-holder:hover img {
    padding: 0rem;
    transition: padding .2s ease;

}

.item-price {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
}

.item-price h2 {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.375rem;
    text-transform: uppercase;
}

@media screen and (min-width: 1024px) and (max-width: 1600px) {
    .item-holder {
        height: 66vh;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    #showcase {
        grid-template-columns: repeat(2, 50%);
    }

    .item-holder {
        height: 51vh;
    }
}

@media screen and (max-width: 768px) {
    #showcase {
        grid-template-columns: repeat(1, 100%);
    }

    .item-holder {
        height: 69vh;
    }
}